*{margin:0;padding:0;box-sizing:border-box;}
body{font-family:Arial,background:#0b0f0c;color:#eaeaea;}
header{text-align:center;padding:30px;background:linear-gradient(135deg,#0b2e13,#145a32);}
.logo{width:90px;}
h1{color:#7CFC00;}
nav{display:flex;justify-content:center;gap:15px;background:#111;padding:10px;position:sticky;top:0;}
nav a{color:#7CFC00;text-decoration:none;font-weight:bold;}
.banner img{width:100%;height:420px;object-fit:cover;filter:brightness(60%);}
.container{max-width:1100px;margin:auto;padding:40px 20px;}
h2{color:#7CFC00;margin-bottom:15px;}
.cards{display:flex;gap:15px;margin-top:20px;}
.card{flex:1;background:#1b1b1b;padding:20px;border-radius:10px;border:1px solid #2e7d32;text-align:center;}
.galeria{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:10px;}
.galeria img{width:100%;border-radius:10px;}
#resultado{display:none;margin-top:15px;background:#0f2a14;padding:15px;border-radius:10px;}
input,button{padding:10px;border-radius:6px;border:none;}
button{background:#2e7d32;color:white;cursor:pointer;}
footer{text-align:center;padding:20px;background:#000;color:#777;margin-top:40px;}
.fade{opacity:0;transform:translateY(20px);transition:all 0.8s ease;}
.fade.show{opacity:1;transform:translateY(0);}
